.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  gap: 12px;
  border-radius: 15px;
  padding: 100px 15px;
  max-width: 1500px;
}

// короче я когда пытаюсь аодвинуть товары навбра с ним идет
