.product-card {
  background-color: #1e1e1e;
  color: #fff;
  width: 400px;
  border: solid 2px #2e2e2e;
  border-radius: 10px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;

  img {
    width: 40%;
    object-fit: contain;
    height: 100px;
  }
}
